.wp-block-mos-user-hero {
  padding: 6rem 0;
}

.wp-block-mos-user-hero h2,
.wp-block-mos-user-hero h6 {
  margin: 0;
  text-transform: capitalize;
}

.wp-block-mos-user-hero h2 {
  font-weight: 900;
}
